absl-py==2.1.0
anyio==4.8.0
appdirs==1.4.4
asgiref==3.8.1
astor==0.8.1
astroid==4.0.1
astunparse==1.6.3
autopep8==2.3.2
beautifulsoup4==4.13.5
beeply==1.0.2
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
dill==0.4.0
Django==5.1.1
et-xmlfile==1.1.0
Flask==2.3.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.0.5
flatbuffers==25.1.24
fonttools==4.54.1
fs==2.4.16
gast==0.6.0
google-pasta==0.2.0
googletrans==4.0.2
greenlet==3.2.4
grpcio==1.70.0
gunicorn==21.2.0
h11==0.14.0
h2==4.2.0
h5py==3.12.1
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
isort==7.0.0
itsdangerous==2.2.0
javalang==0.13.0
Jinja2==3.1.5
joblib==1.4.2
keras==3.8.0
kiwisolver==1.4.7
lazy-object-proxy==1.10.0
libclang==18.1.1
libretranslatepy==2.1.1
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
nltk==3.9.1
notify2==0.3.1
numpy==2.0.2
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.0
packaging==24.1
pandas==2.2.3
pillow==10.4.0
platformdirs==4.5.0
plyer==2.1.0
protobuf==5.29.3
pycodestyle==2.14.0
pygame==2.6.1
Pygments==2.19.1
PyJWT==2.8.0
pylint==4.0.2
pyparsing==3.1.4
pypdf==6.0.0
PyPDF2==3.0.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2024.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
setuptools==75.8.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.44
sqlparse==0.5.1
sympy==1.14.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tomlkit==0.13.3
tqdm==4.67.1
translate==3.6.1
ttkbootstrap==1.10.1
ttkthemes==3.2.2
typescript==0.0.12
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
Werkzeug==2.3.0
wheel==0.45.1
wrapt==1.14.1
